@import '_styles/mixins/breakpoints';
@import '_styles/mixins/layouts';

.root {
  > section {
    @include all() {
      padding-top: 0;
    }

    h3 {
      @include visually-hidden();
    }

    > div > nav {
      margin-top: -1rem;

      @include portrait() {
        margin-top: -2rem;
      }
    }
  }

  > nav + section > div {
    > nav {
      order: 2;

      @include all() {
        padding: 0 0 0 var(--padding);
        margin: 2rem auto 0 -1.6rem;
      }
    }

    > div {
      order: 1;
    }
  }
}
