<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  <appSettings>
    <add key="HOST" value="prosperex.com.au" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="API_URL" value="https://admin.prosperex.com.au/api" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
    <system.webServer>
        <rewrite xdt:Transform="Replace">
            <rules>
                <rule name="HTTPS Redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{HTTPS}" pattern="OFF" />
                        </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="Marketing Redirect" enabled="true" stopProcessing="true">
                  <match url="(.*)"/>
                      <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
	                    <add input="{HTTP_HOST}" pattern="www.prosperex.com.au" />
	                    <add input="{HTTP_HOST}" pattern="prosperex.com.au" />
                      <add input="{REQUEST_URI}" pattern="^/(dashboard|public|_next|manifest.json|login|activate-account|forgotten-password|reset-password|confirm)/.*$" negate="true"/>
                      <add input="{REQUEST_URI}" pattern="^/(dashboard|public|_next|manifest.json|login|activate-account|forgotten-password|reset-password|confirm).*$" negate="true"/>
                      </conditions>
                    <action type="Redirect" url="https://explore.prosperex.com.au/{R:1}"/>
                </rule>
                <rule name="StaticContent" patternSyntax="Wildcard">
                    <action type="Rewrite" url="public/{R:0}" logRewrittenUrl="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <match url="*.*" />
                </rule>
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>