<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="HOST" value="prosperex.qa.tiadev.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="API_URL" value="https://admin.prosperex.qa.tiadev.com/api" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
	<iisnode nodeProcessCommandLine="&quot;C:\nvm\v15.4.0\node.exe&quot;" xdt:Transform="Insert" />
  </system.webServer>
</configuration>
