@import '_styles/mixins/breakpoints';
@import '_styles/mixins/layouts';

.root {
  fieldset > div {
    @include portrait() {
      @include grid-cols(2);
      grid-gap: var(--margin);
    }
  }

  button[type="submit"] {
    margin-top: var(--margin);

    @include landscape() {
      margin-top: var(--margin);
    }
  }
}
