@import '_styles/mixins/breakpoints';

.grid {
  min-height: 55rem;

  li {
    background: #00fdff;
    opacity: 0.4;
    text-indent: -99999rem;

    @include below-portrait() {
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        display: none;
      }
    }
  }
}
