@import '_styles/mixins/breakpoints';
@import '_styles/mixins/layouts';
@import '_styles/mixins/animation';
@import '_styles/mixins/interaction';

.root {
  pointer-events: none;
  transform: translateY(-200%);
  transition: transform 0.5s ease-out;
  @include w-c-t();
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 23rem;
  @include shadow();

  @include below-portrait() {
    width: 100%;
  }

  li {
    padding: 2rem;
    @include flex();
    justify-content: center;
    overflow: hidden;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  }

  a,
  button {
    &:before {
      width: 200vw;
      height: 200vh;
      @include central();
    }
  }
}

.shown {
  pointer-events: all;
  transform: translateY(0);
  transition-duration: 0.35s;
}
