@mixin montserrat() {
  font-family: 'Montserrat', 'Helvetica', Arial, 'Lucida Grande', sans-serif;
}

@mixin weight-regular() {
  font-weight: var(--regular);
}

@mixin weight-medium() {
  font-weight: var(--medium);
}

@mixin weight-semibold() {
  font-weight: var(--semibold);
}

@mixin placeholder($colour) {
  ::-webkit-input-placeholder {
    color: #{$colour};
  }

  ::-moz-placeholder {
    color: #{$colour};
  }

  :-ms-input-placeholder {
    color: #{$colour};
  }

  :-moz-placeholder {
    color: #{$colour};
  }
}

@mixin autocomplete() {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    @content;
  }
}
