@import '_styles/mixins/layouts';

.root {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  &:hover svg {
    stroke: var(--radio-colour);
  }
}

.text,
.indicator + span {
  width: calc(100% - 6.4rem);
}

.text {
  order: 2;
  padding-top: 1.3rem;
}

.input {
  @include visually-hidden();

  &:checked + span {
    &:before {
      background: var(--radio-colour);
    }

    svg {
      stroke: var(--white);
    }
  }
}

.indicator {
  position: relative;
  text-indent: -99999rem;
  order: 1;
  flex-shrink: 0;
  @include before();
  width: 4.4rem;
  height: 4.4rem;
  margin: 0 1rem 0 -1.4rem;

  &:before,
  svg {
    @include central();
  }

  &:before {
    cursor: pointer;
    width: 1.4rem;
    height: 1.4rem;
    border: 0.2rem solid var(--radio-colour);
    border-radius: 0.2rem;
    transition: background-color 0.2s ease;
  }

  svg {
    pointer-events: none;
    position: absolute;
    width: 1rem;
    fill: var(--transparent);
    transition: fill 0.2s ease;
    will-change: fill;
  }

  + div {
    order: 3;
    margin-top: -0.2rem;
  }
}
